.botoes {
    margin-top: 20px;
    margin-bottom: 20px;
}
.botao {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
/*---------------------------------------*/
.container {
    margin-top: 40px;
}
#content {
   position: relative;
   overflow: hidden;
   }

#content p { line-height: 1.8; }

.content-wrap {
        position: relative;
        padding: 80px 0;
}

#content .container { position: relative; }


.configdiv {
      margin-right: 28px;
      margin-bottom: 25px;
      padding: 10px;
}
/*---------------------------------------*/

.img-bar {
    width: 200px;
    margin-bottom: 10px;
}
.img-banner {
    width: 500px;
}
.img-icon-w {
    width: 50px;
}
.img-icon-h {
    height: 50px;
}
.img-icon-mini {
    height: 40px;
}
.img-mini-banner {
    height: 150px;
}
.centralizado {
    margin: 0 auto;
    float: none;
}
/*Copia do login do bootstrap - precisa filtrar*/
/*body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*fim da copia*/
